# Express server port
PORT=3000

# Imou Developer Credentials
IMOU_APP_ID=lca50e6837ccd64597
IMOU_APP_SECRET=91c0adeb82ac482aafbfe9fd79021e
IMOU_DATA_CENTER=sg

# Supabase Credentials
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-supabase-service-role-or-anon-key

# Cloudflare R2 Credentials
R2_ACCOUNT_ID=your-cloudflare-account-id
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_BUCKET_NAME=your-bucket-name
# The public access URL of your R2 bucket (e.g. custom domain or dev domain)
R2_PUBLIC_URL_CUSTOM_DOMAIN=https://your-custom-domain.com

# MQTT Configuration
MQTT_BROKER_URL=mqtt://broker.emqx.io:1883
MQTT_TOPIC=cmaphcm/cam-cut
